# 1. Defining the Question

a) Specifying the Question

b) Defining the Metric for Success

c) Understanding the context

d) Recording the Experimental Design

e) Data Relevance

In [0]:
#Import libaries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import PolynomialFeatures

from sklearn.model_selection import train_test_split

# Import LinearRegression method from sklearn linear_model library
from sklearn.linear_model import LinearRegression

# 2. Reading the Data

In [0]:
# Reading in the datasets using the Pandas
# 
fifa = pd.read_csv("fifa_ranking.csv", parse_dates=['rank_date'])
fifa

       rank country_full  ... confederation  rank_date
0         1      Germany  ...          UEFA 1993-08-08
1         2        Italy  ...          UEFA 1993-08-08
2         3  Switzerland  ...          UEFA 1993-08-08
3         4       Sweden  ...          UEFA 1993-08-08
4         5    Argentina  ...      CONMEBOL 1993-08-08
...     ...          ...  ...           ...        ...
57788   206     Anguilla  ...      CONCACAF 2018-06-07
57789   206      Bahamas  ...      CONCACAF 2018-06-07
57790   206      Eritrea  ...           CAF 2018-06-07
57791   206      Somalia  ...           CAF 2018-06-07
57792   206        Tonga  ...           OFC 2018-06-07

[57793 rows x 16 columns]

In [0]:
# function to extract the year from the rank_date column

def extract_year(fifa, column):
    fifa["year"] = fifa[column].apply(lambda x: x.year)
    
extract_year(fifa, 'rank_date')
fifa.head()

   rank country_full country_abrv  ...  confederation  rank_date  year
0     1      Germany          GER  ...           UEFA 1993-08-08  1993
1     2        Italy          ITA  ...           UEFA 1993-08-08  1993
2     3  Switzerland          SUI  ...           UEFA 1993-08-08  1993
3     4       Sweden          SWE  ...           UEFA 1993-08-08  1993
4     5    Argentina          ARG  ...       CONMEBOL 1993-08-08  1993

[5 rows x 17 columns]

In [0]:
# Dropping the unneccesary columns in the fifa dataset
fifa.drop(fifa.columns.difference(['rank','country_full' , 'year']), 1, inplace=True)
fifa

       rank country_full  year
0         1      Germany  1993
1         2        Italy  1993
2         3  Switzerland  1993
3         4       Sweden  1993
4         5    Argentina  1993
...     ...          ...   ...
57788   206     Anguilla  2018
57789   206      Bahamas  2018
57790   206      Eritrea  2018
57791   206      Somalia  2018
57792   206        Tonga  2018

[57793 rows x 3 columns]

In [0]:
results = pd.read_csv("results.csv", parse_dates=['date'])
results
# to get the dates to align with the fifa dataset we will subset 

results1 = results[results['date']>= '1993-08-08']
results1

            date         home_team  ...   country  neutral
17915 1993-08-08           Bolivia  ...   Bolivia    False
17916 1993-08-08            Brazil  ...    Brazil    False
17917 1993-08-08           Ecuador  ...   Ecuador    False
17918 1993-08-08            Guinea  ...    Guinea    False
17919 1993-08-08          Paraguay  ...  Paraguay    False
...          ...               ...  ...       ...      ...
40834 2019-07-18    American Samoa  ...     Samoa     True
40835 2019-07-18              Fiji  ...     Samoa     True
40836 2019-07-19           Senegal  ...     Egypt     True
40837 2019-07-19        Tajikistan  ...     India     True
40838 2019-07-20  Papua New Guinea  ...     Samoa     True

[22924 rows x 9 columns]

In [0]:
# function to extract the year from the date column

def extract_year(results1, column):
    results1["year"] = results1[column].apply(lambda x: x.year)
    
extract_year(results1, 'date')
results1.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

            date home_team     away_team  ...   country  neutral  year
17915 1993-08-08   Bolivia       Uruguay  ...   Bolivia    False  1993
17916 1993-08-08    Brazil        Mexico  ...    Brazil    False  1993
17917 1993-08-08   Ecuador     Venezuela  ...   Ecuador    False  1993
17918 1993-08-08    Guinea  Sierra Leone  ...    Guinea    False  1993
17919 1993-08-08  Paraguay     Argentina  ...  Paraguay    False  1993

[5 rows x 10 columns]

In [0]:
# Dropping the unnecessary columns in results1 dataset
# we first subset to get the games that did not have a neutral field
results2 = results1[results1['neutral']== False]
results2

results2.drop(['date','city','neutral'],1, inplace=True)
results2

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      home_team         away_team  ...   country  year
17915   Bolivia           Uruguay  ...   Bolivia  1993
17916    Brazil            Mexico  ...    Brazil  1993
17917   Ecuador         Venezuela  ...   Ecuador  1993
17918    Guinea      Sierra Leone  ...    Guinea  1993
17919  Paraguay         Argentina  ...  Paraguay  1993
...         ...               ...  ...       ...   ...
40803     Samoa  Papua New Guinea  ...     Samoa  2019
40817     Samoa             Tonga  ...     Samoa  2019
40821     India       North Korea  ...     India  2019
40829     India             Syria  ...     India  2019
40832     Samoa           Vanuatu  ...     Samoa  2019

[16651 rows x 7 columns]

In [42]:
df3 = pd.merge(fifa, results2, how='left', left_on=['country_full', 'year'], right_on=['home_team', 'year'])
df3
def away_team_ranker(df, column1, column2, column3):
  for i in len(column1):
    for j in len(column2):
      if list(column1[df[i]]) == list(column2[df[j]]):
        list(df['away team rank'])= list(column3[df[j]])
        return(df['away team rank'])

away_team_ranker(df3, 'away_team', 'country_full', 	'rank')
df3.head()

SyntaxError: ignored

In [37]:
 if df3['home_team'] == df3[':

no

# 3. Checking the Data

In [0]:
# getting information on the fifa dataset
#
fifa.info()

In [0]:
# getting information on the results dataset
#
results_subset.info()